# Apriori

In [8]:
# !pip install efficient-apriori

## Importing the libraries

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Preprocessing

In [76]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)
dataset = dataset.fillna(0)
data = []
for i in range(dataset.shape[0]):
    data.append([])
    for item  in dataset.iloc[i,:]:
        if item != 0:
            data[i].append(str(item))
    data[i] = tuple(data[i])

## Training the Apriori model on the dataset

In [77]:
from efficient_apriori import apriori
itemset, rules = apriori(transactions=data, min_support=0.0028,
                         min_confidence = 0.2,max_length= 3)

# Making a result matrix

In [78]:
result = []
for row in rules:
    result.append([row.lhs, row.rhs, row.confidence, row.support, row.lift])

### Data frame of Result Matrix

In [79]:
rulesresult = pd.DataFrame(data= result, columns=['lhs', 'rhs', 'conf', 'support', 'lift'])

### Display first 10 of dataframe

In [80]:
rulesresult.head(10)

                  lhs               rhs      conf   support      lift
0          (almonds,)      (green tea,)  0.248366  0.005066  1.879913
1          (almonds,)  (mineral water,)  0.372549  0.007599  1.562914
2          (avocado,)  (mineral water,)  0.348000  0.011598  1.459926
3   (cottage cheese,)      (green tea,)  0.200837  0.006399  1.520158
4   (cottage cheese,)  (mineral water,)  0.301255  0.009599  1.263823
5     (energy drink,)  (mineral water,)  0.210000  0.005599  0.880990
6  (frozen smoothie,)  (mineral water,)  0.320000  0.020264  1.342461
7     (green grapes,)  (mineral water,)  0.352941  0.003200  1.480655
8        (green tea,)  (mineral water,)  0.235116  0.031063  0.986357
9     (tomato juice,)      (green tea,)  0.206140  0.006266  1.560301

### Displaying the results non sorted

In [81]:
rulesresult

,lhs,rhs,conf,support,lift
0,"(almonds,)","(green tea,)",0.248366,0.005066,1.879913
1,"(almonds,)","(mineral water,)",0.372549,0.007599,1.562914
2,"(avocado,)","(mineral water,)",0.348000,0.011598,1.459926
3,"(cottage cheese,)","(green tea,)",0.200837,0.006399,1.520158
4,"(cottage cheese,)","(mineral water,)",0.301255,0.009599,1.263823
...,...,...,...,...,...
1262,"(honey, mineral water)","(milk,)",0.221239,0.003333,1.707318
1263,"(honey, milk)","(mineral water,)",0.431034,0.003333,1.808272
1264,"(low fat yogurt, milk)","(ground beef,)",0.232323,0.003066,2.364527
1265,"(ground beef, low fat yogurt)","(milk,)",0.319444,0.003066,2.465178
1266,"(shrimp, tomatoes)","(mineral water,)",0.261905,0.002933,1.098740

### Displaying the results sorted by descending lifts

In [94]:
rulesresult.sort_values('lift',ascending=False).head(10)

,lhs,rhs,conf,support,lift
998,"(mineral water, whole wheat pasta)","(olive oil,)",0.402778,0.003866,6.115863
683,"(tomato sauce,)","(ground beef, spaghetti)",0.216981,0.003066,5.535971
1128,"(ground beef, shrimp)","(herb & pepper,)",0.255814,0.002933,5.172131
241,"(fromage blanc,)","(honey,)",0.245098,0.003333,5.164271
681,"(spaghetti, tomato sauce)","(ground beef,)",0.489362,0.003066,4.980600
282,"(light cream,)","(chicken,)",0.290598,0.004533,4.843951
244,"(pasta,)","(escalope,)",0.372881,0.005866,4.700812
1067,"(french fries, herb & pepper)","(ground beef,)",0.461538,0.003200,4.697422
1040,"(cereals, spaghetti)","(ground beef,)",0.460000,0.003066,4.681764
1068,"(french fries, ground beef)","(herb & pepper,)",0.230769,0.003200,4.665768